<article class="article-wrapper">
    <div class="article-in">
        <figure class="article-image">
            <img src="../img/money.jpg" alt="Stack of money with plants growing from it">
            <figcaption>The true value of money</figcaption>
        </figure>
        <div class="article-content">
            <h2>The Value of Money</h2>
            <p class="space-bottom-1">This disagreement among econ­omists is more than an academic difference on the meaning of a popular term. It reflects profes­sional confusion as to the cause of the inflation problem and the pol­icies that might help to correct it. A review of some basic prin­ciples of economics that are ap­plicable to money may shed light on the problem.</p>
            <p class="space-bottom-1">Two basic questions need to be answered: (1) What are the fac­tors that originally afforded value to money, and (2) What are the factors that effect changes in the “objective exchange value of mon­ey” or its purchasing power?</p>
        </div>    
    </div>  
    <div class="citation-box">Source: <a href="https://fee.org/articles/the-value-of-money/" target="_blank" rel="noopener">Sennholz, H. F. (n.d.). The value of money. Foundation for Economic Education.</a></div>    
</article>
<article class="article-wrapper">
    <div class="article-in">
        <figure class="article-image">
            <img src="../img/gmo.jpg" alt="Genetically modified tomatoes">
            <figcaption>Genetically Modified Foods</figcaption>
        </figure>
        <div class="article-content">
            <h2>GMO Food</h2>
            <p class="space-bottom-1">GM plants were first marketed in the 1990s. The first commercialized GM crop was a TOMATO called Flavr Savr (resistant to rotting), marketed in 1994 by a US-based company, Calgene. Since then, many GM crops have been commercialized.</p>
            <p class="space-bottom-1">Genetically modified (GM) foods are made from crops, animals or microorganisms whose GENETIC material has been altered to acquire specific traits using recombinant DNA technology. Recombinant DNA technology refers to combining genes from different organisms, sometimes across species.</p>
        </div>    
    </div>  
    <div class="citation-box">Source: <a href="https://www.thecanadianencyclopedia.ca/en/article/genetically-modified-foods" target="_blank" rel="noopener">Genetically modified foods. (n.d.). The Canadian Encyclopedia.</a></div>    
</article>
<article class="article-wrapper">
    <div class="article-in">
        <figure class="article-image">
            <img src="../img/future.jpg" alt="Futuristic cityscape">
            <figcaption>How will our world look in 2100?</figcaption>
        </figure>
        <div class="article-content">
            <h2>How will our world look in 2100?</h2>
            <p class="space-bottom-1">As someone passionate about the future of work, I like to think about the future in different forms and shapes. I don’t make predictions, as they are often incorrect and, therefore, useless. Besides, making exact predictions isn’t the point. When thinking about the future, we should consider what can or might happen and try to steer reality in the desired direction through our actions. </p>
            <p class="space-bottom-1">Futures thinking allows us to identify the different possibilities and alternative realities offered to us by the future, so we can choose the one we like the most and try to build it. Futures thinking is the first step towards futures building.</p>
        </div>    
    </div>  
    <div class="citation-box">Source: <a href="https://humanefutureofwork.com/what-will-the-world-be-like-in-2100/" target="_blank" rel="noopener">Urrutia, I., & Urrutia, I. (2023, December 2). What will the world be like in 2100?</a></div>    
</article>
